# CodeIgniter cache
application/cache/*
application/config/config.php
application/config/database.php
!application/cache/index.html
!application/cache/.htaccess

# Sessions
application/cache/session/*

# Logs
application/logs/*
!application/logs/index.html
